@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
[class^="btn"] span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.link {
  text-decoration: none;
  color: #2B3654; }

.img--logo, .img--avatar, .img--profile {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.headline--primary {
  display: block;
  color: #676666;
  font-weight: 400;
  font-size: 1.25em;
  margin: 0.3125em auto 1.5625em;
  padding-left: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 769px) {
    .headline--primary {
      text-align: left;
      padding-left: 20px; } }

.headline--secondary {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 0.3125em; }

.header, .wrapper, .card {
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .header, .wrapper, .card {
      flex-direction: row; } }

fieldset {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center; }

.card__content--verticle {
  display: flex;
  flex-direction: column; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
/* Begin Custom Styles  */
* {
  box-sizing: border-box; }

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535252;
  background-color: #cde0eb; }

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase; }

p {
  font-size: 16px;
  font-weight: 400; }

ul {
  list-style-type: none;
  padding-left: 0; }

li {
  display: inline-block; }

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 95%; }

.headline--primary strong {
  font-weight: 900; }
.headline--secondary {
  text-transform: capitalize; }

.link {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em; }
  .link:hover {
    background-color: #A5F038; }

p {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em; }

.header {
  justify-content: space-between;
  padding: 1.5625em; }

.img--logo {
  margin-bottom: 20px; }
.img--avatar {
  border-radius: 50%;
  height: 7rem; }
  @media (min-width: 769px) {
    .img--avatar {
      box-shadow: 0 0 2px 3px #2B3654;
      margin-left: 15px;
      margin-right: 15px; } }
.img--profile {
  border-radius: 50%;
  height: 10rem; }
  @media (min-width: 769px) {
    .img--profile {
      box-shadow: 0 0 7px 5px #2B3654; } }

@media (min-width: 769px) {
  .wrapper {
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%; } }
@media (min-width: 1024px) {
  .wrapper {
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%; } }

.card {
  border: 1px solid #c0bfbf;
  border-radius: 10px;
  border-bottom-width: 4px;
  background-color: #eaf2f6;
  margin-left: auto;
  margin-right: auto;
  padding: 0.9375em;
  width: 96%;
  max-width: 25em;
  margin-bottom: 1.25em;
  text-align: center;
  transition: border 0.4s ease-in; }
  .card:hover {
    border-bottom-color: #A5F038;
    cursor: pointer; }
  @media (min-width: 769px) {
    .card {
      width: 47%;
      box-shadow: 3px 3px 15px 0 #2B3654;
      margin-bottom: 1.875em;
      padding-top: 1.5625em;
      padding-bottom: 1.5625em;
      max-width: 31.25em;
      text-align: left; }
      .card:hover {
        border-color: #A5F038; } }
  @media (min-width: 1400px) {
    .card {
      width: 31%; } }

.address {
  text-transform: capitalize; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 54, 84, 0.5);
  z-index: 200; }
  @media (min-width: 769px) {
    .overlay {
      background-color: rgba(43, 54, 84, 0.2); } }

.modal {
  padding: 25px;
  position: fixed;
  border-radius: 10px;
  top: 25vh;
  width: 100%;
  min-height: 200px;
  transform: translateY(-50px);
  background-color: #eaf2f6;
  text-align: center;
  border: 3px solid #868585;
  z-index: 200; }
  @media (min-width: 769px) {
    .modal {
      width: 400px;
      left: 50vw;
      transform: translateX(-200px);
      box-shadow: 0 0 50px 30px #2B3654; } }

[class^="btn"] {
  padding: 0;
  position: absolute;
  height: 2.3em;
  width: 2.3em;
  overflow: hidden;
  outline: none;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: background-color 0.1s ease-in, border-color 0.4s ease-in;
  background-color: #4E93B7; }
  [class^="btn"]:hover {
    border-color: #A5F038; }
  [class^="btn"]:active {
    background-color: #2B3654; }

.btn--close {
  right: 0.5em;
  top: 0.5em;
  background-color: #DC4333; }
.btn--next {
  right: 0.5em;
  top: 50%; }
.btn--previous {
  left: 0.5em;
  top: 50%; }

.open {
  display: block; }

.icn {
  width: 2em;
  height: 2em; }

.svg--text {
  fill: #FFFFFF; }
.svg--shadow {
  fill-opacity: 0.36; }
.svg--highlight {
  opacity: 0.53;
  fill: #FFFFFF; }

.toggle {
  display: block;
  padding-top: .3em;
  width: 5.0em;
  height: 2.0em;
  border-radius: 1.3em;
  border: 2px solid #868585;
  overflow: hidden;
  background-color: #4E93B7; }
  @media (min-width: 769px) {
    .toggle {
      background-color: #7aaec9;
      box-shadow: 0 2px 3px 1px #3e3d3d inset; } }
  .toggle__input {
    display: none; }
  .toggle__plate {
    color: #fff;
    margin-left: -2.1em;
    transition: margin 0.4s ease-in; }
    .toggle__plate:before {
      padding-right: 1.2em;
      content: "ON"; }
    .toggle__plate:after {
      padding-left: 1.3em;
      content: "OFF"; }
  .toggle__input:checked + .toggle .toggle__plate {
    margin-left: 1em; }
  .toggle__switch {
    display: block;
    position: relative;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #868585;
    border-radius: 50%;
    background: #fff;
    transition: margin 0.4s ease-in;
    transform: translateY(-1.4em); }
    @media (min-width: 769px) {
      .toggle__switch {
        box-shadow: -2px -2px 6px 2px #535252 inset; } }
  .toggle__input:checked + .toggle .toggle__switch {
    margin-left: 3.1em; }

.selected {
  color: #A5F038; }
