// images for card class and derivitives
.wrapper {
	@extend %container-flex;
	@include mq(medium) {
		flex-wrap: wrap;
		@include pad-left-right(1%);
	}
	@include mq(large) {
		flex-wrap: wrap;
		@include pad-left-right(2%);
	}

}
.card {
	@extend %container-flex;
	border: $border--theme;
	border-radius: $border--rounded-corners;
	border-bottom-width: 4px;
	background-color: setColor(primary, xx-light);
	@include margin-left-right(auto);
	padding: em(15px);
	width: 96%;
	max-width: em(400px);
	margin-bottom: em(20px);
	text-align: center;
	transition: border $trns--duration-fast;
	&:hover {
		border-bottom-color: $color-highlight;
		cursor: pointer;
	}
	@include mq(medium) {
		width: 47%;
		box-shadow: 3px 3px 15px 0 $color-shadow;
		margin-bottom: em(30px);
		@include pad-top-bottom(em(25px));
		max-width: em(500px);
		text-align: left;
			&:hover {
			border-color: $color-highlight;
		}
	}
	@include mq(x-large) {
		width: 31%;


	}

	@include e(content) {
		@include m(verticle) {
			@extend %container-flex-verticle;
		}
	}
}

.address {
	text-transform: capitalize;
}



