.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color-shadow, .5);
	z-index:  map-get($z-index, pop-up);
	@include mq(medium) {
		background-color: rgba($color-shadow, .2);		
	}

}


.modal {
	padding: 25px;
	position: fixed;
	border-radius: $border--rounded-corners;
	top: 25vh;
	width: 100%;
	min-height: 200px;
	transform: translateY(-50px);
	background-color: setColor(primary, xx-light);
	text-align: center;
	border: $border--thick;
	z-index:  map-get($z-index, pop-up);
	@include mq(medium) {
		width: 400px;
		left: 50vw;
		transform: translateX(-200px);
		box-shadow: 0 0 50px 30px $color-shadow;
	}	
}

[class^="btn"] {
	padding: 0;
	position: absolute;
	height: 2.3em;
	width: 2.3em;
	overflow: hidden;
	outline: none;
	border: 3px solid $color-font-white;
	border-radius: $border--round;
	transition: background-color $trns--duration-faster, border-color $trns--duration-fast;
	background-color: $color-primary;
	&:hover {
		border-color: $color-highlight;
	}
	&:active {
		background-color: $color-shadow;
	}
	& span {
		@extend %srt;
	}
}
.btn {
	@include m(close) {
		right: 0.5em;
		top: 0.5em;
		background-color: $color-warning;
	}
	@include m(next) {
		right: 0.5em;
		top: 50%;
	}
	@include m(previous) {
		left: 0.5em;
		top: 50%;
	}
}

.open {
	display: block;
}

.icn {
	width: 2em;
	height: 2em;

}
.svg {
	@include m(text) {
		fill:#FFFFFF;
	}
	@include m(shadow) {
		fill-opacity:0.36;
	}
	@include m(highlight) {
		opacity:0.53;
		fill:#FFFFFF;
	}
}






