/* Begin Custom Styles  */

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family--primary;
	color: setColor(grey, dark);
	background-color: setColor(primary, x-light);
}

h1 {
	font-weight: $font-weight--bold;
	font-size: 1.4rem;
	text-transform: uppercase;
}

 p {
	font-size: $base__font-size;
	font-weight: $font-weight--medium;
}


// Remove bullets from unordered lists
ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	text-align: left;
	@include mq(medium) {
		flex-direction: column;
	}
	
}


li {
	display: inline-block;
	& + & {
		@include mq(medium) {
			padding-top: .5em;
		}
	}
}

hr {
	@include margin-top-bottom(1.5em);
	width: 95%;
}

